/* 负责清除默认样式等 */
* {
    padding: 0;
    margin: 0;
    font-family: Tahoma,Arial,sans-serif;
}
body, button, input, select, textarea, th {
    line-height: 1.5;
    background-color: #fafafa;
    color: #000;
    font-size: 14px;
    border: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}
a {
    text-decoration: none;
    cursor: pointer;
    color: #000;
}
button {
    cursor: pointer;
}
li {
    list-style: none;
}
input:focus {
    outline: none;
}
div {
    cursor: default;
}

/* 高亮显示绿色 */
.a_bright:hover {
    color: #31c27c;
}
/* “更多”的图标 */
.more_icon {
    background: url(../static/small_icon_collection.png);
    display: inline-block;
    width: 7px;
    height: 12px;
    background-position: -120px -40px;
}
/* 悬浮在a上时，图标一起发生移动 */
.a_bright:hover .more_icon {
    background-position: -120px -60px;
}