/* mv */
.mv_root_box {
    background: url(../static/song_content_bac.jpg) 50% 0 repeat-x;
    position: relative;
    overflow: hidden;
    background-color: white;
}
/*版心 */
.mv_inner_box {
    overflow: hidden;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}
/* 标题5 */
.mv_title_box {
    position: relative;
    padding-top: 50px;
    padding-bottom: 24px;
}
.mv_title {
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 15px;
    position: relative;
    left: 570px;
    top: -10px;
    width: 196px;
    height: 40px;
}
/* mv地区列表 */
.mv_list {
    max-width: 1200px;
    height: 50px;
    text-align: center;
    margin:0 auto;
}
/* mv地区物件 */
.mv_list_item {
    display: inline-block;
    font-size: 15px;
    margin: 0 24px;
}
/* 更多 */
.mv_list_last {
    display: inline-block;
    position: absolute;
    right: 0;
    top: auto;
}