/* 歌单推荐 */
.song_cont_root_box {
    background: url(../static/song_content_bac.jpg) 50% 0 repeat-x;
    position: relative;
    overflow: hidden;
    background-color: white;
}
/* 版心盒子 */
.song_cont_inner_box {
    overflow: hidden;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}
/* 标题1 */
.song_cont_title_box {
    position: relative;
    padding-top: 50px;
    padding-bottom: 24px;
}
.song_cont_title {
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 15px;
    position: relative;
    left: 520px;
    top: -10px;
    width: 196px;
    height: 40px;
}
/* 歌单推荐列表 */
.song_cont_list {
    max-width: 1200px;
    height: 50px;
    text-align: center;
    margin:0 auto;
}
/* 歌单分类列表物件 */
.song_cont_list_item {
    display: inline-block;
    font-size: 15px;
    margin: 0 24px;
}
/* 歌单本体 */
.song_cont_songlist {
    margin-right: -20px;
}
/* 歌单列表 */
.cont_songlist_list {
    margin-right: -20px;
}
/* 歌单物件 */
.songlist_list_item {
    display: inline-block;
    position: relative;
    width: 224px;
    padding-bottom: 0;
    font-size: 14px;
    vertical-align: top;
    margin-right: 15px;
}
/* 歌单封面 */
.list_item_cover {
    width: 224px;
    height: 224px;
    margin-bottom:15px;
}
/* 封面图片 */
.list_cover_pic {
    width: 224px;
    height: 224px;
}
/* 数据 */
.list_item_data {
    color: #999;
}