.container_root_box {
    width: 1552px;
    height: 424px;
    margin: 0 auto;
    padding: 16px;
    background-color: #fff;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    position: absolute;
    top: 338px;
    left: 200px;
}