/* 负责清除默认样式等 */
* {
    padding: 0;
    margin: 0;
}
body, button, input, select, textarea, th {
    font-size: 12px; 
    line-height: 1.5;
    font-family: 'PingFang SC,Source Han Sans CN,Microsoft YaHei,Heiti SC,tahoma,arial,Hiragino Sans GB,sans-serif';
    color: #666;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}
a {
    text-decoration: none;
}
button {
    cursor: pointer;
}
li {
    list-style: none;
}
input:focus {
    outline: none;
}
div {
    cursor: default;
}

/* spacer专用 */
.spacer {
    float: left;
    overflow: hidden;
    margin: 14px 8px 0;
    width: .5px;
    height: 8px;
    border-right:1px solid rgba(0,0,0,0.2);
}
.no_border {
    border-right: none;
}
a:hover {
    color: #ff0f33;
}