.main_background_set {
    height: 833px;
    background: url(../static/main-background.png) repeat-x;
}
.search_root_box {
    padding-bottom: 145px; 
    margin-bottom: 16px;
    background-color: rgb(198, 10, 7);
}
.search_inner_box {
    width: 1532px;
    margin: 0 auto;
}
.title_icon {
    position: relative;
    left: 0;
    top: 32px;
}
.title_icon_set {
    width: 240px;
    height: 70px;
    display: block;
}
.search_item {
    width: 1008px;
    height: 40.8px;
    float: left;
    position: absolute;
    left: 20px;
    top: 74px;
}
.search_box {
    position: absolute;
    left: 50%;
    width: 1008px;
    height: 40.8px;
    border: 2px solid #ff0f23;
    background-color: white;
    border-radius: 8px;
}
.input_search_set {
    display: block;
    width: 856px;
    padding: 2px 44px 2px 19px;
    height: 32px;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 14px;
}
.camera_set {
    position: absolute;
    right: 100px;
    bottom: 11px;
    width: 20px;
    height: 20px;
    overflow: hidden;
}
.search_button {
    border-radius: 6px;
    right: 2px;
    top: 2px;
    width: 80px;
    height: 36px;
    line-height: 36px;
    border: none;
    background-color: #ff0f23;
    font-size: 16px;
    font-weight: bold;
    color: white;
    position: absolute;
    right: 2px;
    top: 3px;
}
.ad {
    position: relative;
    display: block;
    width: 190px;
    height: 120px;
    left: 1352px;
    top: -66px;
}
.fuck_ad_pic {
    width: 100%;
    height: 100%;
}
.hot_word_box {
    width: 984px;
    overflow: hidden;
    position: absolute;
    left: 26%;
    top: 129px;
    height: 20px;
    line-height: 20px;
}
.hot_word_box>a {
    color: rgba(255,255,255,.7);
    font-size: 14px;
}
.hot_word_item {
    margin-right: 8px;
}
.big_damn_sell {
    background: url(../static/sell.gif) center center no-repeat;
    background-size: 100% 100%;
    height: 168px;
    width: 1064px;
    margin: 126px auto 0;
    position: relative;
    bottom: 330px;
    left: 25px;
}
.big_damn_sell>a {
    color: black;
}
.sell_link {
    position: absolute;
    top: 12px;
    width: 136px;
    height: 144px;
    align-items: center;
}
.sell_link_pos_1 {
    left: 45px;
}
.sell_link_pos_2 {
    left: 193px;
}
.sell_title {
    color: black;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    margin-top: 6px;
    width: 100%;
}
.sell_title_pos_1 {
    position: relative;
    left: 28px;
}
.sell_pic {
    width: 80px;
    height: 80px;
    position: relative;
    left: 25px;
}
.text_bottom {
    text-align: center;
    color:white;
    font-size: 20px;
    width: 128px;
    height: 34px;
    line-height: 32px;
    background-color: #ff0f23;
    border-radius: 28px;
}
.bottom_pos_1 {
    position: relative;
    right: 5px;
    bottom: 9px;
}
.bottom_pos_2 {
    position: relative;
    left: 4px;
    bottom: 9px;
}
.phone_pic {
    height: 120px;
    width: auto;
    left: 368px;
    top:25px;
    position: absolute;
    border-radius: 18px;
}
.sell_link_pos_4{
    position: absolute;
    right: 190px;
}
.sell_title_pos_2 {
    position: relative;
    left: 15px;
}
.sell_pic_2 {
    width: 80px;
    height: 80px;
    position: relative;
    left: 23px;
}
.bottom_pos_3 {
    position:relative;
    left: 1px;
    bottom: 9px;
}
.sell_link_pos_5{
    position: absolute;
    right: 32px;
}
.sell_title_pos_3 {
    position: relative;
    left: 14px;
}
.bottom_pos_4 {
    position: relative;
    bottom: 9px;
}
.left_sell_box {
    width: 300px;
    height: 710px;
    background: url(../static/sell2.png) no-repeat;
    background-size: 300px 590px;
    position: absolute;
    left: -30px;
    top:334px;
}
.right_sell_box {
    width: 300px;
    height: 710px;
    background: url(../static/sell1.png) no-repeat;
    background-size: 300px 590px;
    position: absolute;
    right: -50px;
    top:334px;
}